<!DOCTYPE html>
<html>
  <body>
    <h2>
      Hello <%= name %>
    </h3>
    <br />
    <p style="font-size: large;">
      This is password resetting <a href="<%= link %>" role="button"> link </a>
    </p>
    <br />
    <hr style="color: #4A9E73; width: 40%; padding-left: 20%;" />
    <p style="font-size: small;">
      Please if you haven't done any request for changing your password
      <span style="font-weight: bolder; color: #4A9E73"> @Bazar platform </span
      >, just ignore it.
    </p>
  </body>
</html>
